.drawer-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #F3F3F3;
    border-radius: 20px;
    margin: 10px 10px;
    padding: 0 10px;

    .item-image{
        max-width: 100px;
        overflow: hidden;
    }
    .item-info{
        max-width: 135px;
    }
}