.drawer{ 
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 385px;    
    right: 0;
    height: 100%;
    border-radius: 30px;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9;

}

.drawer-head{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.cart-items{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: auto;
}

